app==0.0.1
appdirs==1.4.4
asgiref==3.2.10
awsebcli==3.18.2
botocore==1.15.49
cement==2.8.2
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cloudant==2.13.0
colorama==0.4.3
cycler==0.10.0
DateTime==4.3
db2==0.1.1
distlib==0.3.1
Django==3.0.8
docutils==0.15.2
dominate==2.5.1
example==0.1.0
filelock==3.0.12
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Ext==0.1
Flask-MySQLdb==0.2.0
flask-nav==0.6
Flask-SQLAlchemy==2.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
future==0.16.0
gunicorn==19.7.1
ibm-db==3.0.1
idna==2.7
image==1.5.32
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
kiwisolver==1.2.0
livereload==2.6.2
MarkupSafe==1.1.1
matplotlib==3.3.0
mysql-connector-python==8.0.16
mysqlclient==1.4.2.post1
numpy==1.19.0
pandas==1.0.5
pathlib==1.0.1
pathspec==0.5.9
Pillow==7.2.0
prometheus-client==0.8.0
protobuf==3.12.2
PyMySQL==0.10.0
pyparsing==2.4.7
pypiwin32==223
python-dateutil==2.8.0
pytz==2020.1
pywin32==228
PyYAML==5.3.1
requests==2.20.1
scikit-learn==0.23.1
scipy==1.5.1
semantic-version==2.5.0
six==1.11.0
sklearn==0.0
SQLAlchemy==1.3.18
sqlparse==0.3.1
termcolor==1.1.0
threadpoolctl==2.1.0
tinydb==4.1.1
tornado==6.0.4
urllib3==1.24.3
virtualenv==20.0.28
visitor==0.1.3
wcwidth==0.1.9
Werkzeug==0.16.1
WTForms==2.3.1
zipp==3.1.0
zope.interface==5.1.0
